.button-wrapper {
  position: relative;
  cursor: pointer;
  width: 130px;
}

button {
  color: var(--primary-text-color);
  position: absolute;
  background-color: transparent;
  border: none;
  font-family: -apple-system, Fira Sans, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  height: 30px;
  opacity: 1;
  transition: 160ms ease-out;
}

button:active {
  opacity: 0;
}

.button-text-clicked{
  opacity: 0;
}

.button-border {
  border: 2px solid transparent;
  height: 30px;
  width: 130px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: 160ms ease-out;
}

.button-border-top {
  border-top-color: var(--primary-text-color);
}

.button-border-top-hover {
  border-top-color: var(--secondary-highlight-color);
  left: -6px;
}

.button-border-top-clicked {
  border-top-color: transparent;
  left: -100px;
}

.button-border-right {
  border-right-color: var(--primary-text-color);
}

.button-border-right-hover {
  border-right-color: var(--secondary-highlight-color);
  top: 6px;
}

.button-border-right-clicked {
  border-right-color: transparent;
  top: 100px;
}

.button-border-bottom {
  border-bottom-color: var(--primary-text-color);
}

.button-border-bottom-hover {
  border-bottom-color: var(--secondary-highlight-color);
  left: 6px;
}

.button-border-bottom-clicked {
  border-bottom-color: transparent;
  left: 100px;
}

.button-border-left {
  border-left-color: var(--primary-text-color);
}

.button-border-left-hover {
  border-left-color: var(--secondary-highlight-color);
  top: -6px;
}

.button-border-left-clicked {
  border-left-color: transparent;
  top: -100px;
}
