.footer-wrapper {
  max-width: 960px;
  height: 130px;
  margin: 5px auto;
  padding: 0px 50px;
  position: absolute;
  right: 0px;
  left: 0px;
  z-index: 1;
  background-color: transparent;
}

.footer-background-wrapper {
  max-width: 960px;
  height: 130px;
  margin: 0px auto;
  position: relative;
  z-index: 0;
}
