.hero {
  display: inline-block;
  width: 98%;
  position: absolute;
  left: -15px;

  transition: 700ms cubic-bezier(1,0,.5,1);
}

.hero-title {
  font-size: 4.6em;
  margin-bottom: 0.1em;
  letter-spacing: .03em;

  transition: 400ms cubic-bezier(.69,0,.19,1);
}

.hero-subtitle {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 350;
  margin-bottom: .9em;

  transition: 700ms cubic-bezier(.26,.01,0,1);
}

.disappear {
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .hero {
    width: 100%;
    position: absolute;
    left: 0px;
  }

  .hero-title {
    font-size: 3em;
    font-size: 11vw;
    line-height: 1.3em;
    /* margin-right: 10px; */
  }

  .hero-subtitle {
    font-size: .98em;
    font-size: 4.5vw;
    line-height: 1.3em;
    letter-spacing: .01em;
    /* margin-right: 100px; */
  }

  .hero-social {
    visibility: hidden;
  }
}
