.background-container {
  background: var(--primary-bg-color);
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1
}

.interactive-background {
  position: absolute;
  opacity: .9;
  visibility: hidden;
  transform: skewX(-45deg);
  transition: 850ms cubic-bezier(.05,0.12,0,1);
  overflow: hidden;
  z-index: -2
}

.line-left {
  background-image: linear-gradient(rgba(255,0,0,0), var(--primary-highlight-color));
  width: 5px;
}

.line-right {
  background-image: linear-gradient(180deg, rgba(255,0,0,0), var(--primary-highlight-color));
  width: 5px;
  bottom: 20%;
}

.line-top {
  background-image: linear-gradient(to left, rgba(255,0,0,0), var(--primary-highlight-color-transparent), var(--primary-highlight-color));
  height: 5px;
  width: 45%;
  top: 20%;
}

.line-bottom {
  background-image: linear-gradient(to right, rgba(255,0,0,0), var(--primary-highlight-color-transparent), var(--primary-highlight-color));
  height: 5px;
  width: 45%;
  bottom: 25%;
}

.landing-to-projects-mask {
  position: fixed;
  bottom: 0px;
  /* transform: translateY(-50%); */
  height: 100px;
  width: 100%;
  background-color: var(--primary-text-color);
  z-index: 1;
  overflow: hidden;
}

.landing-to-projects-indicator {
  position: fixed;
  height: 100px;
  width: 100%;
  /* background-color: #444; */
  /* transform: translateX(-50%); */
  left: 0px;
  bottom: 0px;
  text-align: center;
  font-weight: 200;
  font-size: .9rem;
  overflow: hidden;
  z-index: -1;
  transition: 600ms cubic-bezier(1,1,.5,1);

  /* transition: 200ms cubic-bezier(.05,0.3,0,1); */
}

.landing-to-projects-indicator p {
  position: absolute;
  color: #FFF;
  top: 0px;
  bottom: 60px;
  transform: translateX(-50%);
  left: 50%;
  margin-bottom: 0px;
  overflow: hidden;
}

.landing-to-projects-line {
  position: absolute;
  bottom: 0px;
  left: 50%;
  background-color: #FFF;
  height: 60px ;
  width: 1.2px;
}

@media only screen and (max-width: 750px) {
  /* .interactive-background {
    background: var(--secondary-highlight-color);;
  } */

  .line-left {
    height: 25% !important;
    left: 10% !important;
  }

  .line-right {
    bottom: 10%;
    height: 25% !important;
    right: 10% !important;
  }

  .line-top {
    visibility: hidden;
    opacity: 0;
  }

  .line-bottom {
    visibility: hidden;
  }
}
