.projects-container {
  color: var(--secondary-text-color);
  margin: 80px 0px;
}

.vertical-line {
  border-left: 1.5px solid var(--primary-bg-color);
  opacity: .4;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -.75px;
  z-index: -1;
}

.project-description {
  max-width: 450px;
}

.project-review {
  font-style: italic;
  margin: 0px 60px;
}

.big {
  font-size: 1.6em;
}

.project-image {
  max-width: 550px;
  max-height: 300px;
  float: right;
  margin: 0 0 1em 1em;
  transition: .2s ease;
  object-fit: contain;
}

.project-image:hover {
  max-width: 555px;
  max-height: 305px;
}

.software-icon {
  position: relative;
  top: 3px;
}

.project-divider {
  position: relative;
  left: -30vw;
  width: 160vw;
  height: 1px;
  background-color: #DDD;
}

@media only screen and (max-width: 750px) {

  .project-image {
    float: none;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }

  .project-image:hover {
    max-width: none;
  }

  .project-description {
    max-width: none;
    padding-top: 20px;
  }

  .project-review {
    margin: 0px 0px;
  }

  .projects-container {
    margin: 50px 0px;
  }

  .projects-container h1{
    text-align: center;
    font-size: 60px;
    font-size: 8.7vw;
  }

}
