.read-more-container {
  position: absolute;
  margin: 0px auto;
  width: 33%;
  min-width: 500px;
  height: 50%;

  top: 23%;
  left: 0%;
  right: 40%;
  z-index: 2;

  visibility: hidden;
  opacity: 0;
  transition: 400ms cubic-bezier(1,1,.5,1);

  padding: 30px 40px;
  }

.read-more-container-appear {
  visibility: visible;
  opacity: 1;
}

.about-me-content {
  position: absolute;
  padding: 0px 40px 0px 0px;
  line-height: 1.8em;
}

.about-me-dissapear {
  visibility: hidden;
  opacity: 0;
  transition: 400ms cubic-bezier(1,1,.5,1);
}

.contact-container {
  transition: 400ms cubic-bezier(1,1,.5,1);
}

@media only screen and (max-width: 800px) {
  .read-more-container {
    width: 100%;
    top: 20vh;
    left: 0%;
    right: 0%;
    font-size: 1em;
    padding: 20px 28px;
  }

  .read-more-container h2{
    font-size: 1.9em;
  }

}
