.email-tool-tip {
  /* width: 200px; */
  height: 25px;
  background-color: #FFF;
  position: absolute;
  right: 50px;
  border-radius: 3px;
  transition: 300ms cubic-bezier(.25,.1,.25,1);
  color: var(--primary-bg-color);
  font-size: .8em;
  overflow: hidden;
}

.email-tool-tip-horizontal {
  display: inline-block;
  right: 0px;
}

@media only screen and (max-width: 800px) {
  .email-tool-tip-horizontal {
    display: block;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
  }

}


.social-container-vertical {
  position: absolute;
  right: 0px;
}

.social-container-horizontal {
  padding-top: 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.social-icon-vertical {
  position: relative;
  padding-bottom: 20px;
  width: 25px;
}

.social-icon-horizontal {
  display: inline;
  width: 25px;
  margin: 0px 20px;
}

.gmail-icon {
  fill: var(--primary-text-color);
  transition: 150ms;
}

.gmail-icon:hover {
  fill: var(--secondary-highlight-color);
}

.linkedin-icon {
  fill: var(--primary-text-color);
  transition: 150ms;
}

.linkedin-icon:hover {
  fill: var(--secondary-highlight-color);
}

.codepen-icon {
  stroke: var(--primary-text-color);
  transition: 150ms;
}

.codepen-icon:hover {
  stroke: var(--secondary-highlight-color);
}

.github-icon {
  fill: var(--primary-text-color);
  transition: 150ms;
}

.github-icon:hover {
  fill: var(--secondary-highlight-color);
}
